/*
    You can add your own custom styles here.
*/

@media (min-width: 1280px) {
  .container.extended {
    max-width: 1536px;
    --left-sidebar-max-width: 15%;
    --right-sidebar-max-width: 25%;
  }
}

aside.sidebar {
  --sidebar-avatar-size: 160px;

  #main-menu {
    @media (min-width: 768px) {
      margin-top: 30px; /* above menu */
    }
    gap: 20px; /* btwn menu rows */

    --menu-icon-separation: 20px; /* btwn icon + label */
  }

  a[href="/archives/"] {
    margin-top: 1.4rem;
  }
  a[href="/archives/"], a[href="/search/"] {
    opacity: 0.6;
    /* font-style: italic; */
  }
}

main {
  --max-width: 1000px;

  min-height: 100vh;
  @media (max-width: 768px) {
    min-height: 75vh;
  }

  article {
    max-width: var(--max-width);

    .article-content > ul {
      margin-top: -1em;
    }

    table {
      --tr-even-background-color: none;
      thead {
        tr {
          th {
            background: #0003;
          }
        }
      }
    }


    details {
      summary {
        /* display: inline-text; */
        &::marker {
        }
        h2,h3 {
          display: contents;
        }
        cursor: pointer;
      }
      p {
        padding-left: 1.8rem;
      }

      margin-bottom: 1rem;
    }
  }

  .links {
    max-width: var(--max-width);
  }


  footer {
    max-width: var(--max-width);
    margin-top: auto;
  }

}


.article-category {
  font-weight: 600;
  letter-spacing: 1px;
}

.endorsement {
  --avatar-size: 5rem;
  --pad: 2rem;

  /* border: 1px solid grey; */
  padding: var(--pad);
  border-radius: 7px;
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.15),
    0px 6px 10px 0px rgba(0, 0, 0, 0.12),
    0px 1px 18px 0px rgba(0, 0, 0, 0.08);
  margin-top: calc(var(--avatar-size) / 2 + 3rem);
  margin-bottom: calc(var(--avatar-size) / 2 + 3rem);

  .header {
    margin-top: calc(-1 * var(--pad) - var(--avatar-size) / 2);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-content: center;
    align-items: center;
    grid-gap: 10px;

    .avatar {
      height: var(--avatar-size);
      width: var(--avatar-size);
      border-radius: 50%;
    }
    .name {
      /* background: white; */
      filter:
        drop-shadow(0px 0px 5px var(--card-background)) 
        drop-shadow(0px 0px 5px var(--card-background)) 
        drop-shadow(0px 0px 5px var(--card-background)) 
      ;
      /* box-shadow: 0 0 10px #fff; */
      padding: 0 4px;
    }
  }

  .quote {
    margin-top: 1rem;
    /* font-style: italic; */
    font-family: serif;
    font-size: 1.5rem;
  }
}
