/*
    You can add your own custom styles here.
*/

@media (min-width: 1280px) {
  .container.extended {
    max-width: 1536px;
    --left-sidebar-max-width: 15%;
    --right-sidebar-max-width: 25%;
  }
}

aside.sidebar {
  --sidebar-avatar-size: 160px;

  #main-menu {
    @media (min-width: 768px) {
      margin-top: 30px; /* above menu */
    }
    gap: 20px; /* btwn menu rows */

    --menu-icon-separation: 20px; /* btwn icon + label */
  }

  a[href="/archives/"] {
    margin-top: 1.4rem;
  }
  a[href="/archives/"], a[href="/search/"] {
    opacity: 0.6;
    /* font-style: italic; */
  }
}

/* take cards to edge in mobile mode */
.main-article {
  @media (max-width: 768px) {
    padding: 0;
    padding-top: var(--main-top-padding);
    margin: -15px;
  }
}

main {
  --max-width: 1000px;

  min-height: 100vh;
  @media (max-width: 768px) {
    min-height: 75vh;
  }

  article {
    max-width: var(--max-width);

    .article-content > ul {
      margin-top: -1em;
    }

    table {
      --tr-even-background-color: none;
      thead {
        tr {
          th {
            background: #0003;
          }
        }
      }
    }


    details {
      summary {
        &::marker {
        }
        h2,h3 {
          display: contents;
        }
        cursor: pointer;
      }
      p {
        padding-left: 1.8rem;
      }

      margin-bottom: 1rem;
    }
  }

  .links {
    max-width: var(--max-width);
  }


  footer {
    max-width: var(--max-width);
    margin-top: auto;
  }
}


.article-category {
  font-weight: 600;
  letter-spacing: 1px;
}


.article-list--projects {
  --image-size: 100px;

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--image-size));
  grid-gap: 10px;
  justify-content: space-between;

  @include respond(md) {
    --image-size: 180px;
    grid-gap: 20px;
  }

  article {
    /* background-color: var(--card-background); */

    & > a {
      display: grid;
      grid-template-rows: auto auto;
    }

    &:not(:last-of-type) {
    }

    .article-image {
      img {
        width: var(--image-size);
        height: var(--image-size);
        object-fit: cover;
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
      }
    }

    .article-details {
      padding: 4px 8px;

      @include respond(md) {
        padding: 10px;
      }
    }

    .article-title {
      margin: 0;
      font-size: 1.6rem;

      @include respond(md) {
        font-size: 1.8rem;
      }
    }

    /* .article-time { */
    /*   font-size: 1.4rem; */
    /* } */

    .article-preview {
      font-size: 1.4rem;
      color: var(--card-text-color-tertiary);
      margin-top: 10px;
      line-height: 1.5;
    }
  }
}
